# ignore all
/*
/.*

# allow files
!/.gitignore
!/.vimrc
!/.zpreztorc
!/.zshrc
!/.zshenv
!/Makefile
!/README.md

# .vim dir
!/.vim/
/.vim/*

!/.vim/bundle/
/.vim/bundle/*
!/.vim/bundle/neobundle.vim
!/.vim/colors/
