# ignore all
/*
/.*

# allow files
!/.gitignore
!/.vimrc
!/.zpreztorc
!/.zshrc
!/.zshenv
!/Makefile
!/README.md
!/.hyper.js
!/.iterm2_shell_integration.zsh

# .vim dir
!/.vim/
/.vim/*
!/.vim/colors/

# bin dir
!/bin/
!/.dotfiles/
